.nav-menu {
  width: calc(100vmax - 306px);
  height:48px;
  background-color:#0C013B;
  box-shadow: 0px 3px 6px #00000059;
}

.nav-menu {
  p {
    display: inline;
    color: white;
    font-family: Arial;
    font-size: 12px;
    float: right;
    padding: 18px;
    margin: 0px;
  }
}

.settings-img {
  background-image: url(../../../../assets/img/settings.png);
  background-repeat: no-repeat;
  background-position: center left;
}

.menu {
  margin-top: 9px;
  margin-left: 8px;
}

