<div class="folder-list">
  <h2>Categorías</h2>
  <div>
    <li>
      <ul><a href=""><img src="../../../../assets/img/folder.png" alt="folder"></a></ul>
      <ul><a href=""><img src="../../../../assets/img/folder2.png" alt="folder"></a></ul>
      <ul><a href=""><img src="../../../../assets/img/folder3.png" alt="folder"></a></ul>
      <ul><a href=""><img src="../../../../assets/img/folder4.png" alt="folder"></a></ul>
      <ul><a href=""><img src="../../../../assets/img/folder5.png" alt="folder"></a></ul>
      <ul><a href=""><img src="../../../../assets/img/folder6.png" alt="folder"></a></ul>
      <ul><a href=""><img src="../../../../assets/img/folder7.png" alt="folder"></a></ul>
      <ul><a href=""><img src="../../../../assets/img/folder8.png" alt="folder"></a></ul>
      <ul><a href=""><img src="../../../../assets/img/folder9.png" alt="folder"></a></ul>
      <ul><a href=""><img src="../../../../assets/img/folder10.png" alt="folder"></a></ul>
    </li> 
  </div>
</div>
<div class="selec-form">
  <div>
    <h2>Categoria 1</h2>
    <form action="">
      <select name="reportes" >
        <option value="reporte-1">reporte 1</option>
        <option value="reporte-2">reporte 2</option>
        <option value="reporte-3">reporte 3</option>
        <option value="reporte-4">reporte 4</option>
      </select>
      <label for="reportes">selecciona un reporte:<span class="arrow">▼</span></label>
      <button class="btn-access">Acceder</button>
    </form>  
    <div class="info-form">
      <h3>Informacion requerida</h3>
      <form action="">
        <input type="date" name="fecha" id="fecha">
        <label class="date-icon" for="fecha">ingrese periodo</label>
        <input type="text" placeholder="Ingrese parametro 1">
        <input type="text" placeholder="Ingrese parametro 2">
        <label class="upload-icon" for="files">Ingrese arcivo</label>
        <input type="file" name="files" id="files">
        <button class="btn-plan">Planificar Reporte</button>
        <button class="btn-report">Ejecutar Reporte</button>
      </form>
    </div>
  </div> 
</div>
