<div class="folder-list">
  <h2>Categorías</h2>
  <div>
    <li>
      <ul><a routerLink="forms"><img src="../../../../assets/img/folder1.png" alt="folder"></a></ul>
      <ul><a routerLink="forms"><img src="../../../../assets/img/folder2.png" alt="folder"></a></ul>
      <ul><a routerLink="forms"><img src="../../../../assets/img/folder3.png" alt="folder"></a></ul>
      <ul><a routerLink="forms"><img src="../../../../assets/img/folder4.png" alt="folder"></a></ul>
      <ul><a routerLink="forms"><img src="../../../../assets/img/folder5.png" alt="folder"></a></ul>
      <ul><a routerLink="forms"><img src="../../../../assets/img/folder6.png" alt="folder"></a></ul>
      <ul><a routerLink="forms"><img src="../../../../assets/img/folder7.png" alt="folder"></a></ul>
      <ul><a routerLink="forms"><img src="../../../../assets/img/folder8.png" alt="folder"></a></ul>
      <ul><a routerLink="forms"><img src="../../../../assets/img/folder9.png" alt="folder"></a></ul>
      <ul><a routerLink="forms"><img src="../../../../assets/img/folder10.png" alt="folder"></a></ul>
    </li> 
  </div>
</div>
<div class="selec-form">
    <h2 class="center">Selecciona una categoria para ver los reportes</h2> 
</div>
