.folder-list {
  flex-flow:wrap;
  margin: 18px;
  background-color: white;
  width: 250px;
  height: max-content;
  padding: 11px;
  box-shadow: 0px 2px 6px #00000059;
}

.folder-list {
  li {
    display:flex;
    flex-wrap: wrap;
    border: 1px solid #BFBFBF;
    list-style: none;
    ul {
      margin: 10px 0px 10px 0px;
    }
  }
}

.folder-list {
  h2 {
    font-family: Arial Black;
    font-size: 22px;
    color: #1B0088;
    margin-left: 23px;
  }
}

.selec-form {
  h2 {
    font-family: Arial;
    font-size: 22px;
    color: #1B0088;
    margin-left: 23px;
  }
}

.center {
  font-family: Arial Black;
  font-size: 23px;
  color: #1D0088;
  margin-top:260px;
}

.selec-form {
  flex-flow: column;
  margin-top: 18px;
  background-color: white;
  width: calc(100vw - 651px);
  height: calc(100vh - 193px);
  box-shadow: 0px 2px 6px #00000059;
  padding: 10px;
}
