h2 {
  background-color: white;
  width: calc(100vmax - 356px);
  height: 55px;
  border-bottom: 1px solid #ED1650;
  font-family: arial;
  font-size: 24px;
  margin: 0px;
  padding-top: 30px;
  padding-left: 50px;
  background-image: url(../../../../assets/img/reportes-img.png);
  background-repeat: no-repeat;
  background-position: center left 30px;
}