/* You can add global styles to this file, and also import other style files */
body {
  margin: 0px;
  background-color: #F0F0F0;
  opacity: 1;
}

app-view, app-folder1, app-folder2{
  display:  flex;
}